/*

    ~Index MDE.css~
    ----------------------

    1. general classes
    2. body
    3. header and header-nav
    4. editor page
        4.1 element list item
        4.1 element creation form
        4.2 add element button

*/

/*#####################################################\
 *|                                                    #
 *| 1. general classes                                 #
 *|                                                    #
\#####################################################*/

.float-line {
    display: inline-block;
}

.code-line {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: rgb(248, 248, 242);
}

.half-width-container {
    margin: 10px;
    overflow: hidden;
}

.half-width-wrapper {
    width: 50%;
    float: left;
}

.half-width-margin-left {
    margin-left: 5px;
}

.half-width-margin-right {
    margin-right: 5px;
}

.generic-ui-button {
    height: 30px;
    line-height: 30px;
    text-align: center;

    background: rgb(108, 108, 113);
    font-family: Consolas,'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    border:0;
    color: inherit;
}

.generic-ui-button:hover {
    cursor: default;
}

.generic-container {
    background-color: rgb(76, 76, 76);
    overflow: hidden;
    font-size: 20px;
    margin: 5px;
}

/*#####################################################\
 *|                                                    #
 *| 2. code.css                                        #
 *|                                                    #
\#####################################################*/

.code-line {
    font-family: Consolas,'Courier New', Courier, monospace;
    color: rgb(248, 248, 242);
}

.code-string {
    color: rgb(230, 219, 116);
}

.code-variable-tag {
    color: rgb(249, 38, 114);
}

.code-constant-attribute {
    color: rgb(166, 226, 46);
}

/*#####################################################\
 *|                                                    #
 *| 2. body                                            #
 *|                                                    #
\#####################################################*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 248, 242);
    background-color: #272822;
}

/*#####################################################\
 *|                                                    #
 *| 3. header and header-nav                           #
 *|                                                    #
\#####################################################*/

#editor-header-nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 16px rgba(0,0,0,.28);
    background-color: rgb(119, 119, 119);
    position: fixed;
    width: 100%;
}

.editor-header-nav-item{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
}

/*#####################################################\
 *|                                                    #
 *| 4. editor page                                     #
 *|                                                    #
\#####################################################*/

#editor-page-content {
    padding-top: 50px;
    overflow: hidden;
}

    /*#####################################################\
    *|                                                     #
    *| 4.1 element list item                               #
    *|                                                     #
    \#####################################################*/

    .element-list-item-tag {
        background-color: rgba(0, 0, 0, 0.226);
        font-family: Consolas,'Courier New', Courier, monospace;
        font-style: italic;
        padding: 10px;
    }

    .element-list-item-attribute {
        margin: 10px;
        padding: 3px;
    }

    /*#####################################################\
    *|                                                     #
    *| 4.2 element creation form                           #
    *|                                                     #
    \#####################################################*/

    .element-creation-input-container {
        margin: 10px;
        font-family: Consolas,'Courier New', Courier, monospace;
    }

    .element-creation-input-label {
        float: left;
        width: 97px;
        height: 40px;
        line-height: 40px;

        font-size: 20px;
        text-align: right;
        font-weight: bold;
    }

    .element-creation-input-width-wrapper {
        display: block;
        overflow: hidden;
    }

    .element-creation-input {
        width: 100%;
        overflow: hidden;
        display: block;
        box-sizing : border-box;
        border: none;
        height: 40px;

        padding-left: 10px;
        padding-right: 10px;

        font-family: Consolas,'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 20px;
        
        caret-color: currentColor;
        background-color: inherit;
        border-bottom: 2px solid rgb(169, 169, 169);
    }

    .element-creation-button-container {
        margin: 10px;
        overflow: hidden;
    }

    /*#####################################################\
    *|                                                     #
    *| 4.3 add element button                              #
    *|                                                     #
    \#####################################################*/

    #add-element-button {
        font-size: 36px;
        margin: 5px;
        padding: 10px 0px;
    }