/*

    ~Index MDE.css~
    ----------------------

    1. general classes
    2. body
    3. header and header-nav
    4. editor page
        4.1 element list item
        4.1 element creation form
        4.2 add element button

*/

/*#####################################################\
 *|                                                    #
 *| 1. general classes                                 #
 *|                                                    #
\#####################################################*/

.line-wrap {
    display: inline-block;
}

.half-width-container {
    overflow: hidden;
}

.half-width-wrapper {
    width: 50%;
    float: left;
}

.half-width-margin-left {
    margin-left: 5px;
}

.half-width-margin-right {
    margin-right: 5px;
}

.half-width-button {
    height: 40px;
    line-height: 40px;
}

.generic-ui-button {
    text-align: center;
    /* background-color: rgb(59, 59, 59); */
    background: rgb(108, 108, 113);
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: initial;
    color: inherit;
}

.generic-ui-button:hover {
    cursor: default;
}

.generic-ui-icon {
    background-color: transparent;
    height: 20px;
    width: 20px;
    font-size: 18px;
    height: initial;
    line-height: initial;
    padding: 5px 10px;
}

.generic-container {
    background-color: rgb(76, 76, 76);
    overflow: hidden;
    font-size: 20px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.generic-form-container {
    padding: 10px;
}

.generic-form-header {
    font-family: inherit;
    font-weight: inherit;
    margin-bottom: 0;
    color: rgb(128, 128, 128);
    font-style: italic;
    font-size: 16px;
}

.generic-form-input-container {
    /* margin: 10px; */
    margin-top: 12px;
    margin-bottom: 12px;
}

.generic-form-input-label {
    margin-bottom: 5px;

    font-size: 17px;
    font-weight: bold;
}

.generic-form-input-width-wrapper {
    display: block;
    overflow: hidden;
}

.generic-form-input {
    width: 100%;
    overflow: hidden;
    display: block;
    box-sizing : border-box;
    border: none;

    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;

    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    
    background-color: rgb(62, 62, 62);
}

.generic-form-close-button {
    padding: 0;
    float: right;
}

/*#####################################################\
 *|                                                    #
 *| 2. code.css                                        #
 *|                                                    #
\#####################################################*/

.code-line {
    color: rgb(248, 248, 242);
    font-weight: bold;
    display: inline-block;
}

.code-string {
    color: rgb(230, 219, 116);
}

input.code-string {
    caret-color: rgb(230, 219, 116);
}

.code-variable-tag {
    color: rgb(249, 38, 114);
    font-style: italic;
}

input.code-variable-tag {
    caret-color: rgb(249, 38, 114);
}

.code-constant-attribute {
    color: rgb(166, 226, 46);
}

.code-function-id-markup {
    color: rgb(166, 226, 46);
}

/*#####################################################\
 *|                                                    #
 *| 2. body                                            #
 *|                                                    #
\#####################################################*/

body {
    color: white;
    background-color: #272822;
}

/*#####################################################\
 *|                                                    #
 *| 3. header and header-nav                           #
 *|                                                    #
\#####################################################*/

#editor-header-nav ul {
    list-style: none;
    text-align: center;
    box-shadow: 0 0 16px rgba(0,0,0,.28);
    background-color: rgb(119, 119, 119);
    position: fixed;
    width: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
}

.editor-header-nav-item{
    font-size: 20px;
    line-height: 40px;
    height: 40px;
}

/*#####################################################\
 *|                                                    #
 *| 4. editor page                                     #
 *|                                                    #
\#####################################################*/

#editor-page-content {
    padding-top: 50px;
    overflow: hidden;
}

#bottom-form-page-overlay {
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
}

#editor-bottom-form-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

    /*#####################################################\
    *|                                                     #
    *| 4.1 element list item                               #
    *|                                                     #
    \#####################################################*/

    .element-list-item-tag {
        margin-bottom: 10px;
        /* line-height: 40px; */
        
    }

    .element-list-item-attribute {
        /* margin: 10px;
        padding: 3px; */
        margin: 10px;
    }

    .element-list-item-footer {
        overflow: hidden;
        /* padding: 5px; */
        /* background-color: rgb(59, 59, 59); */
    }

    .element-list-item-button-container {
        float: left;
    }

    .element-list-item-button {
        float: left;
    }

    /*#####################################################\
    *|                                                     #
    *| 4.2 element creation form                           #
    *|                                                     #
    \#####################################################*/

    #element-creation-form {
        padding: 10px;
        /* margin: 0; */
    }

     /*#####################################################\
    *|                                                     #
    *| 4.3 element edit form                               #
    *|                                                     #
    \#####################################################*/

    #element-edit-header {
        margin-bottom: 5px;
    }

    #element-edit-parent {
        font-size: 17px;
        color: rgb(167, 167, 167);
        overflow: hidden;
        overflow-x: visible;
        white-space: nowrap;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    /*#####################################################\
    *|                                                     #
    *| 4.4 add element button                              #
    *|                                                     #
    \#####################################################*/

    #add-element-button {
        font-size: 36px;
        margin: 5px;
        padding: 10px 0px;
        display: block;
        float: none;
    }

    #add-button-icon {
        height: 36px;
        width: 36px;
        display: block;
        margin: 0 auto;
    }