/*

    ~Index MDE.css~
    ----------------------

    1. general classes
    2. body
    3. header and header-nav
    4. editor page
        4.1 element creation form
        4.2 add element button

*/

/*#####################################################\
 *|                                                    #
 *| 1. general classes                                 #
 *|                                                    #
\#####################################################*/

.float-line {
    display: inline-block;
}

.code-line {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: black;
}

.half-width-container {
    margin: 10px;
    overflow: hidden;
}

.half-width-wrapper {
    width: 50%;
    float: left;
}

.half-width-margin-left {
    margin-left: 5px;
}

.half-width-margin-right {
    margin-right: 5px;
}



/*#####################################################\
 *|                                                    #
 *| 2. body                                            #
 *|                                                    #
\#####################################################*/

body {
    /* font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; */
    font-family: Arial, Helvetica, sans-serif;
}

/*#####################################################\
 *|                                                    #
 *| 3. header and header-nav                           #
 *|                                                    #
\#####################################################*/

#editor-header-nav ul {
    list-style: none;
    background-color: rgb(49, 145, 223);
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 16px rgba(0,0,0,.28);
    color: black;
    border-bottom: 2px solid black;
    background-color: lightgray;

    position: fixed;
    width: 100%;
}

.editor-header-nav-item{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
}

/*#####################################################\
 *|                                                    #
 *| 4. editor page                                     #
 *|                                                    #
\#####################################################*/

#editor-page-content {
    padding-top: 50px;
    overflow: hidden;
}

.element-list-item {
    background-color: lightgray;

    overflow: hidden;

    font-size: 20px;

    margin: 5px;
    border: 2px solid black;

    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    overflow: hidden;
}

.element-list-item-tag {
    background-color: rgba(0, 0, 0, 0.226);
    padding: 3px;
    font-style: italic;
    border: 2px solid black;
    margin: 10px;
}

.element-list-item-attribute {
    margin: 10px;
    border: 2px solid black;
    padding: 3px;
}

.element-list-item-button {
    height: 30px;
    line-height: 30px;
    text-align: center;

    border: 2px solid black;
    background: rgb(147, 147, 147);
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
}

    /*#####################################################\
    *|                                                     #
    *| 4.1 element creation form                           #
    *|                                                     #
    \#####################################################*/

    #element-creation-form {
        background-color: lightgray;
        font-family: 'Courier New', Courier, monospace;
        overflow: hidden;
        box-sizing: border-box;

        margin: 5px;
        border: 2px solid black;
    }

    .element-creation-input-container {
        margin: 10px;
        border: 2px solid black;
    }

    .element-creation-input-label {
        float: left;
        width: 100px;
        height: 40px;
        line-height: 40px;

        font-size: 20px;
        text-align: right;
        font-weight: bold;
    }

    .element-creation-input-width-wrapper {
        display: block;
        overflow: hidden;
    }

    .element-creation-input {
        width: 100%;
        overflow: hidden;
        display: block;
        box-sizing : border-box;
        border: none;
        height: 40px;

        padding-left: 10px;
        padding-right: 10px;

        font-family:'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 20px;
        background-color: rgb(169, 169, 169);

        /* reset border radius on inputs */
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .element-creation-button-container {
        margin: 10px;
        overflow: hidden;
    }

    .element-creation-button-width-wrapper {
        width: 50%;
        float: left;
    }

    .element-creation-button {
        height: 40px;
        line-height: 40px;
        text-align: center;

        border: 2px solid black;
        background: rgb(147, 147, 147);
        
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        font-weight: bold;
    }

    .element-creation-button:active {
        outline: none;
        border: none;
        border: 2px solid black;
    }

    /*#####################################################\
    *|                                                     #
    *| 4.2 add element button                              #
    *|                                                     #
    \#####################################################*/

    #add-element-button {
        text-align: center;
        font-size: 36px;
        background: rgb(147, 147, 147);

        margin: 5px;
        padding: 10px 0px;
        border: 2px solid black;
    }