/*

    ~Index MDE.css~
    ----------------------

    1. body
    2. header and header-nav
    3. editor page
        3.1 element creation form
        3.2 add element button

*/

/*#####################################################\
 *|                                                    #
 *| 1. body                                            #
 *|                                                    #
\#####################################################*/

body {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

/*#####################################################\
 *|                                                    #
 *| 2. header and header-nav                           #
 *|                                                    #
\#####################################################*/

#editor-header-nav ul {
    list-style: none;
    background-color: rgb(49, 145, 223);
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 16px rgba(0,0,0,.28);
    color: black;
    border-bottom: 2px solid black;
    background-color: lightgray;

    position: fixed;
    width: 100%;
}

.editor-header-nav-item{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
}

/*#####################################################\
 *|                                                    #
 *| 3. editor page                                     #
 *|                                                    #
\#####################################################*/

#editor-page-content {
    padding-top: 50px;
    overflow: hidden;
}

/*#####################################################\
 *|                                                    #
 *| 3.1. element creation form                         #
 *|                                                    #
\#####################################################*/

#element-creation-form {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    box-sizing: border-box;

    margin: 5px;
    border: 2px solid black;
}

.element-creation-input-container {
    margin: 10px;
    border: 2px solid black;
}

.element-creation-input-label {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;

    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

.element-creation-input-width-wrapper {
    display: block;
    overflow: hidden;
}

.element-creation-input {
    width: 100%;
    overflow: hidden;
    display: block;
    box-sizing : border-box;
    border: none;
    height: 40px;

    padding-left: 10px;
    padding-right: 10px;

    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(169, 169, 169);

    /* reset border radius on inputs */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.element-creation-button-container {
    margin: 10px;
    overflow: hidden;
}

.element-creation-button-width-wrapper {
    width: 50%;
    float: left;
}

.element-creation-button {
    display: block;

    text-align: center;
    padding: 15px 0px;

    border: 2px solid black;
    background: rgb(147, 147, 147);
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
}

.element-creation-button-margin-left {
    margin-left: 5px;
}

.element-creation-button-margin-right {
    margin-right: 5px;
}

.element-creation-button:enabled {
    outline: none;
    border: none;
}

.element-creation-button:active {
    outline: none;
    border: none;
}

/*#####################################################\
 *|                                                    #
 *| 3.2. add element button                            #
 *|                                                    #
\#####################################################*/

#add-element-button {
    text-align: center;
    font-size: 36px;
    background: rgb(147, 147, 147);

    margin: 5px;
    padding: 10px 0px;
    border: 2px solid black;
}